@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300&display=swap');

.big-container {
  padding: 10px 10px;
  font-family: 'Laila', sans-serif;
  font-weight: 600;
}

.main-container {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-top: 15px;
}

.text {
  width: 50vw;
  height: 35vh;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Laila', sans-serif;
  border-radius: 5px;
  margin-top: 10px;
  cursor: text;
  outline: none;
}

.btncont {
  display: flex;
  margin-top: 10px;
  gap: 10px;
  margin-bottom: 10px;

}

.btn {
  padding: 8px 10px;
  font-size: 16px;
  border-radius: 3px;
  margin-top: 15px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 1px 1px;
  border: none;
  background-color: rgb(165, 165, 245);
  font-family: 'Laila', sans-serif;
}

.btn1 {
  padding: 8px 10px;
  font-size: 16px;
  border-radius: 3px;
  margin-top: 15px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 1px 1px;
  border: none;
  background-color: rgb(214, 133, 160);
  font-family: 'Laila', sans-serif;
  font-weight: 600;
}

.btn2 {
  padding: 8px 10px;
  font-size: 16px;
  border-radius: 3px;
  margin-top: 15px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 1px 1px;
  border: none;
  background-color: rgb(241, 105, 56);
  font-family: 'Laila', sans-serif;
  font-weight: 600;

}

.btn3 {
  padding: 8px 10px;
  font-size: 16px;
  border-radius: 3px;
  margin-top: 15px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 1px 1px;
  border: none;
  background-color: rgb(238, 147, 238);
  font-family: 'Laila', sans-serif;
  font-weight: 600;
}

.heading {
  font-size: 30px;
}

.words-characters {
  font-size: 18px;
}

.preview {
  font-size: 30px;
  margin-top: 20px;
}

.preview-text {
  font-size: 18px;
}

.read {
  font-size: 18px;
}

@media only screen and (max-width:765px) {
  .btncont {
    flex-wrap: wrap;
  }

}

@media only screen and (max-width:525px) {
  .main-heading {
    font-size: 23px;
  }

  .text {
    width: 63vw;
    height: 15vh;
    font-size: 16px;
  }

  .btncont {
    gap: 7px;
  }

  .btn {
    padding: 4px 6px;
    font-size: 14px;
  }

  .btn1 {
    padding: 4px 6px;
    font-size: 14px;
  }

  .btn2 {
    padding: 4px 6px;
    font-size: 14px;
  }

  .btn3 {
    padding: 4px 6px;
    font-size: 14px;
  }

  .heading {
    font-size: 23px;
  }

  .words-characters {
    font-size: 15px;
  }

  .read {
    font-size: 15px;
  }

  .preview {
    font-size: 23px;
  }

  .preview-text {
    font-size: 15px;
  }
}

@media only screen and (max-width:445px) {
  .main-heading {
    font-size: 20px;
  }

  .text {
    width: 70vw;
    height: 13vh;
    font-size: 14px;
  }

  .btncont {
    gap: 7px;
  }

  .btn {
    padding: 3px 5px;
    font-size: 12px;
  }

  .btn1 {
    padding: 3px 5px;
    font-size: 12px;
  }

  .btn2 {
    padding: 3px 5px;
    font-size: 12px;
  }

  .btn3 {
    padding: 3px 5px;
    font-size: 12px;
  }

  .heading {
    font-size: 20px;
  }

  .words-characters {
    font-size: 13px;
  }

  .read {
    font-size: 13px;
  }

  .preview {
    font-size: 20px;
  }

  .preview-text {
    font-size: 13px;
  }
}