*{
  margin: 0;
  padding: 0;
}
nav{
  display: flex;
  background-color: rgb(13, 13, 88);
  justify-content: space-between;
  align-items: center;
}
.navLink {
  display: flex;
  gap: 1.5rem;
  padding: 10px;
  align-items: center;
}
.navLink a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
}
.box{
  display: flex;
  margin-right: 1.5rem;
  gap: 10px;
  color: white;
  font-weight: 500;
}

.mode{
  width: 50px;
  height: 20px;
  margin-left: 10px;
  cursor: pointer;
  box-shadow: 1px 1px;
  border-radius: 1px;
  border: none;
  border-radius: 10px;
}
.mode:hover{
  background-color: rgb(174, 174, 240);
}
